
// variables
$bg-color: #EEE5E9;
$bg-color-inv: #eee5e991;
$bg-color1: #FAF9F9;
$yellow-color: #FFC200;
$blue-color: #046C94;
$blue-color1:rgba(4, 107, 148, 0.062);
$blue-color2:rgba(4, 107, 148, 0.199);
$red-color1: #fe19002f;
$white-color: #F7FFF6;
$green-color: #6DA34D;
$dark-blue-color: #0A122A;
$black-color: #000;

$buy-btn-green: #77d42a;
$buy-btn-green1: #5cb811;
$buy-btn-brdr: #268a16;

$cart-btn-red: #fe1900;
$cart-btn-red1: #ce0000;
$cart-btn-brdr: #d83526;

$breakpoints: (
    "phone":        425px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       792px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
// mixin

@mixin pseudo($pos: absolute){
    content: '';
    position: $pos;
}
@mixin circle($h, $w){
    height: $h;
    width: $w;
    border-radius: 50%;
}
@mixin mq($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}
@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
@mixin flex-wrap($value: nowrap) {
    -webkit-flex-wrap: $value;
    @if $value == nowrap {
      -ms-flex-wrap: none;
    } @else {
      -ms-flex-wrap: $value;
    }
    flex-wrap: $value;
  }
@mixin justify-content($value: flex-start) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -moz-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin align-items($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -moz-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  align-items: $value;
}

@mixin bgradient{
  background: linear-gradient(#deeef5, #eff3e1);
}


// STYLE

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html, body{
width: 100%;
height: 100%;
background-color: $bg-color;
@include flexbox();
}
body{
overflow-x: hidden;
overflow-y: hidden;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
font-weight: 400;
}
.ani-transition{
  transition: 0.3s;
}
.hover-zoom{
  transform: scale(0.1);
}
.flex{
  @include flexbox();
}
.space-between{
  @include justify-content(space-between);
}
.justify-center{
  @include justify-content(center);
}
.justify-end{
  @include justify-content(flex-end);
}
.flex-center{
  @include justify-content(center);
  @include align-items(center);
}
.align-center{
  @include align-items(center);
}
.flex-column{
  @include flexbox();
  flex-direction: column;
}
.bggradient{
  @include bgradient();  
}
  .padding-30px{
  padding: 30px 20px 20px 30px;
}
.wrapper{
  width: 70%;
  max-width: 1050px;
  margin: 0 auto;
 // flex-direction: row-reverse;
  height: 100%;
}
.content-wrapper{
width: 100%;
max-width: 1170px;
height: 100vh;
}
.content-container{
@include align-items(flex-start);
width: 100%;
max-width: 1170px;
overflow-y: scroll;
overflow-x: hidden;
height: -webkit-fill-available;
background-color: $bg-color1;
}
.btn {
  width: 130px;
  height: 50px;	
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
  margin: 0;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:15px 14px;
	text-decoration:none;
}
.btn:active {
	position:relative;
	top:1px;
}
.buy-form{
  width: 100%;
  height: 120px;
  padding: 50px;}
  .buy-btn{
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:linear-gradient(to bottom, $buy-btn-green 5%, $buy-btn-green1 100%);
    background-color:$buy-btn-green;
    border:1px solid $buy-btn-brdr;
    color:$white-color;}
  .buy-btn:hover {
    background:linear-gradient(to bottom, $buy-btn-green1 5%, $buy-btn-green 100%);
    background-color:$buy-btn-green1; }
  .cart-btn{
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:linear-gradient(to bottom, $cart-btn-red 5%, $cart-btn-red1 100%);
    background-color:$cart-btn-red;
    border:1px solid $cart-btn-brdr;
    color:$white-color;}
  .cart-btn:hover {
    background:linear-gradient(to bottom, $cart-btn-red1 5%, $cart-btn-red 100%);
    background-color:$cart-btn-red1; }
    
  